
:root {
  --primaryColor: #0B2343;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainRed: #bd0303;
  --mainSpacing: 0.3rem;
  --mainBorderRadius: 0.25rem;



}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--mainBackground);
  font-size: 1rem;
  
}


.btn,
.btn-primary {
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
  margin-left: 2rem;
}

.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: transparent;
}
.btn-primary:hover {
  
  color: var(--offWhite);
}

.btn-danger {
  background: var(--mainRed);
  color: var(--mainWhite);
  border-color: transparent;
}

.section {
  padding: 5rem 0;
}
.container{
  align-items: center;
  width: 30%;
}


 input {
  border: none;
  border-color: transparent;
  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
 
}
